// SECRETS.h

#ifndef SECRETS_h
#define SECRETS_h

// ---- Secrets ----

#define USE_OPENWEATHERMAP 1

#define LIGHT_0_IP "192.168.0.50"
#define LIGHT_1_IP "192.168.0.51"

#define WIFI_SSID "yourwifiname"
#define WIFI_PASS "yourwifipassword"
#define OWM_API_KEY "youropenweathermapapikey" // comment line if not using OpenWeatherMap, but SolarCalculator
#define LATITUDE "50.85"
#define LONGITUDE "4.35"
//#define COUNTRY "BE"
//#define CITY "Brussels"

#endif // SECRETS_h